{% extends 'back-office/shared/layout.html.twig' %}
{% trans_default_domain 'translations' %}

{% block content %}
    {# general information #}
    <div class="card o-hidden border-left-primary shadow-lg">
        <div class="card-body p-0">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="card-title text-bold">
                        <i class="fas fa-info mr-2"></i>
                        {{ 'back.default.pages.elections.show.general_information' | trans }}
                        {% if currentUserIsCandidate %}
                            <div class="text-center text-bold text-danger p-0 mx-auto" style="margin: -15px 0 0 0;">
                                <i class="fas fa-exclamation-triangle mr-2"></i> {{ 'back.default.pages.elections.show.already_candidate' | trans }}
                                <i class="fas fa-exclamation-triangle ml-2"></i>
                            </div>
                        {% else %}
                            <form class="form-inline float-right" method="post" action="{{ path('back.user.application.send') }}">
                                <input type="hidden" name="token" value="{{ csrf_token('user_application') }}"/>
                                <input type="hidden" name="election" value="{{ election.id }}"/>
                                <button type="submit" class="btn btn-circle btn-primary float-right" data-container="body" data-toggle="popover"
                                        data-placement="bottom" data-content="{{ 'back.default.pages.elections.show.send_application' | trans }}">
                                    <i class="fas fa-envelope"></i>
                                </button>
                            </form>
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row m-1">
                        <div class="col-4">
                            <span class="text-bold">{{ 'election.name.label' | trans }} : </span>
                            <span>{{ election.name }}</span>
                        </div>
                        <div class="col-4">
                            <span class="text-bold">{{ 'election.start_date.label' | trans }} : </span>
                            <span>{{ election.startDate | date ('d-m-Y') }}</span>
                        </div>
                        <div class="col-4">
                            <span class="text-bold">{{ 'election.end_date.label' | trans }} : </span>
                            <span>{{ election.endDate  | date ('d-m-Y') }}</span>
                        </div>
                    </div>
                    <div class="row m-1 mt-3">
                        <div class="col">
                            <span class="text-bold">{{ 'election.description.label' | trans }} : </span>
                            <p class="m-2">{{ election.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# applications list #}
    <div class="card o-hidden border-left-primary shadow-lg mt-5">
        <div class="card-body p-0">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="card-title text-bold">
                        <i class="fas fa-layer-group mr-2"></i>
                        {{ 'back.default.pages.elections.show.applications_list' | trans }}
                        {% if currentUserAlreadyVoted %}
                            <div class="text-center text-bold text-warning p-0 mx-auto" style="margin: -15px 0 0 0;">
                                <i class="fas fa-exclamation-triangle mr-2"></i> {{ 'back.default.pages.elections.show.already_voted' | trans }}
                                <i class="fas fa-exclamation-triangle ml-2"></i>
                            </div>
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body">
                    {% if election.applications.count == 0 %}
                        <p class="text-bold text-danger text-center">
                            {{ 'back.default.pages.elections.show.no_application' | trans }}
                        </p>
                    {% endif %}
                    <div class="row">
                        {# @var application \App\Entity\Application #}
                        {% for application in election.applications %}
                            {% include 'back-office/components/candidate-card.html.twig' with {
                                'applicationId': application.id,
                                'candidateFirstName': application.candidate.firstName,
                                'candidateLastName': application.candidate.lastName,
                                'candidateAvatar': application.candidate.avatar,
                                'totalElectionVotes': election.totalVotesCount,
                                'totalApplicationVotes': application.votes.count
                            } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .text-bold {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                'trigger': 'hover'
            });
        })
    </script>
{% endblock %}

