{% trans_default_domain 'translations' %}

<!-- ======= Footer ======= -->
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-4 mb-md-0">
                <h3>{{ 'front.footer.about.title' | trans({'%brand%': 'front.brand' | trans }) }}</h3>
                <p>{{ 'front.footer.about.text' | trans }}</p>
                <p class="social">
                    <a href="#"><span class="icofont-facebook"></span></a>
                    <a href="#"><span class="icofont-twitter"></span></a>
                </p>
            </div>
            <div class="col-md-6 ml-auto">
                <div class="row site-section pt-0">
                    <div class="col-md-7 mb-4 mb-md-0">
                        <h3>{{ 'front.footer.admin.title' | trans }}</h3>
                        <p>{{ 'front.footer.admin.text' | trans }}</p>
                        <p class="social">
                            <a href="{{ path('login') }}"><span class="icofont-login"></span></a>
                        </p>
                    </div>

                    <div class="col-md-4 mb-4 mb-md-0  ml-auto">
                        <h3>{{ 'front.footer.register.title' | trans }}</h3>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('register') }}">{{ 'front.footer.register.member' | trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <p class="copyright">{{ 'front.footer.copyright.text' | trans }}</p>
                <div class="credits">
                    {#
                        All the links in the footer should remain intact.
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=SoftLand
                    #}
                    {{ 'front.footer.copyright.credits' | trans | raw }}
                </div>
            </div>
        </div>

    </div>
</footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
